p {
  
}

.card-container {
  background-color: var(--type-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-flow: column;
  align-items: center;
}

/* https://www.reddit.com/r/csshelp/comments/1mhlfsa/stretch_image_to_remaining_height/ */
.pokemon-image {
  object-fit: contain;
  /* display: block;
  max-width: 100%; */
}

.card-pokemon-label {
  font-size: 2.5rem;
  font-weight: bold;
}

.card-pokemon-usage {
  font-size: 1.5rem;
  font-style: italic;
}